{% extends 'base.html' %}

{% block title %} index {% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block nav %}
{{ super() }}
{% endblock %}

{% block main %}

    <br>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quasi perferendis illo ea cumque vitae maiores quae quod reprehenderit, commodi consectetur non culpa eligendi unde deleniti facere laborum aperiam recusandae?
    </p>

{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}